$red: #cf3a34;
$light: #f1f5f8;
$br: 16px;

@import "../../bootstrap/scss/bootstrap.scss";

.br {
    border-radius: $br;
}

.space {
    height: 50px;
    width: 100%;
}

main  {
    margin-right: 0;
    margin-left: 0;
}

form {
    margin-left: auto;
    margin-right: auto;
    .form__fieldset {
        border-radius: 16px;
        padding: 5px;
        margin: 5px;
        border: solid 3px var(--danger)!important;
        .form__fieldset--legend {
            width: auto;
            text-align: center;      
        }
    }  
    .form__textarea {
        margin-top: 10px;
        margin-left: 30%;  
        }
    .form__button {
        margin-top: 10px;
        margin-left: 40%;     
        }
    
    
}










/*

Créer un mini site pour le centre de formation Simplon de la ville de la promo. Le site devra présenter la formation Simplon ainsi que donner les informations utiles sur la fabrique de Simplon.
Livrables
Un dépot Gitlab contenant votre code source (HTML, SASS, CSS, Images, ...), ainsi que le schéma de votre maquette graphique. Ce schéma doit être au format image (JPG, PNG) et peut être fait soit sur un outil numérique ou alors juste en mode papier/crayon (prendre une photo)
Contexte du projet

Vous devez respecter la charte graphique du groupe Simplon (couleur, police d'écriture, etc ...). Vous devez aussi intégrer le logo du Simplon.

Aucune maquette graphique n'a été définit pour le site, vous avez carte blanche.

Le site devra être réalisé en HTML et CSS.

    Le site doit être responsive
    Vous devez utiliser SASS pour la création de votre CSS
    Vous devez utiliser une convention de nommage
    Le site doit contenir un formulaire de contact, non fonctionnel mais les champs sont validés :
        Nom
        Prenom
        Genre (Mr / Mme / Autre)
        Email
        Message (max 300 caractères)
    Les images doivent être optimisées pour le web (taille adaptée / poids etc)
    Les champs dédiés au référencement doivent être complétés (images et meta)
    Vous pouvez utiliser un framework CSS : Bootstrap ou autre
    Vous pouvez utiliser toutes les librairies CSS ou JS que vous voulez

Modalités pédagogiques

Le travail est à faire en groupe de 2.

A rendre pour le 03 juillet 2020 au soir.

*/





// .bgHead {
//     background-color: var(--danger)!important;
// }

// header {
//          background-color: var(--danger)!important;
//              a {
//                  img {
//                       max-width:100px!important;
//                  }
//               }
//     }
